*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #EBEBC9;
}

.section-grid{
	margin: 15px 5.6vw;
	color: #EBEBC9;
	grid-column-gap: 1.7vw;
	grid-row-gap: 1.4vw;
}

.box{
	background:#1E1E2F;
	border-radius: 12px;
}

.grow-hover i{
	transition: 0.3s ease-in-out;
}

.grow-hover i:hover{
	transform: scale(1.15);
}

/* First Section */

#first-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	min-width: 100vh;
	height: auto;
}

#profile-box { 
	grid-area: 1 / 1 / 5 / 5;
	position: relative;
	overflow: hidden;
}
#profile-box img{
	height: 97%;
	position: absolute;
	left: 3vw;
	bottom: 0;
}

#profile-box .profiles{
	position: absolute;
}

#profile-box .titles{
	display: flex;
	justify-content: flex-end;
	padding-right: 7px;

}

.titles h1{
	font-size: 4.32vw;
	top: 27%;
}

.titles h2{
	font-size: 2.9vw;
	top: 48%;
}

#welcome-box { 
	grid-area: 1 / 5 / 3 / 7;
	padding: 5vh 3vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#welcome-box .hello{
	font-size: 3.7vw;
	display: flex;
	margin-bottom: 2vw;
	align-items: center;
}

#welcome-box p{
	text-align: justify;
	font-size: 1rem;
}

#social-box { 
	grid-area: 3 / 5 / 5 / 7;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center; /* Centers the icon */
	gap: 10px;
	aspect-ratio: 1/1;
}

#social-box a {
	display: grid;
	place-items: center;
	color: #EBEBC9;
	text-decoration: none;
}

#social-box a i{
	font-size: 7vw; /* Adjust icon size */
}
/* Second Section */
#second-section {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
}

.aboutme-box { 
	grid-area: 1 / 1 / 5 / 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vw;
	padding: 15px 20px;
}

.aboutme-box h3{
	font-size: 2.5vw;
}
.achievements-box { 
	grid-area: 1 / 4 / 3 / 5; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 10px 8px;
}

.achievements{
	display: grid;
	grid-template-columns: auto;
	gap: 20px;
}

.achievements-box h4{
	font-size: 1.8vw;
}

.achievements-box p{
	font-size: 1.6vw;
}

.results{
	display: flex;
	flex-direction: column;
}

.results a{
	font-size: 1.3vw;
	margin: 5px 0;
	text-decoration: none;
	background-color: #EBEBC9;
	padding: 2px 7px;
	border-radius: 20px;
}
.skills-box { 
	grid-area: 1 / 5 / 3 / 7;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	aspect-ratio: 1/1;
	background-color: #3f3f84;
}

.skills-box a i{
	color: #EBEBC9;
	font-size: 6vw;
}

.skills-box a:last-child{
	position: absolute;
}
.projects-box { 
	grid-area: 3 / 4 / 5 / 7;
	background-color: #3f3f84;
	padding: 3.6vh 2vh 12px;
	gap: 2.8vw;
}

.project-img{
	grid-area: 1 / 1 / 2 /5;
	margin-left: 1.8vh;
	position: relative;
	display: flex;
	align-items: center;
}

.project-img img{
	box-shadow: 0px 10px 22px -3px rgba(0,0,0,0.5);
	border-radius: 6px;
	object-fit: cover;
	object-position: left;
	max-width: 100%;
	height: 100%;
	pointer-events: none;
}

#face-avatar{
	background-image: url('./Assets/project3.gif');
	background-position: center;
	background-size: cover;
}

.project-img::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border-radius: 6px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
	pointer-events: none;
}

.project-img .button{
	z-index: 10;
	position: absolute;
	bottom: 14%;
	right: 10%;
	text-decoration: none;
	background-color: #EBEBC9;
	padding: 8px 5px;
	border-radius: 5px;
	pointer-events: auto; /* Ensure the button can receive clicks */

}

.project-info{
	grid-area: 1 / 5 / 2 / 8;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	text-align: left;
	padding-left: 2vw;
}

.project-info h4{
	font-size: 2vw;
}

#last-section{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	color: #EBEBC9;
}

#last-section .box{
	background-color: #3f3f84;
}

#quote-box{
	grid-area: 1 / 1 / 2 / 3;
	aspect-ratio: 1/1;
	position: relative;
}

#quote-box .fas{
	font-size: 4.8vw;
	color: #272727;
}

#quote-box .fa-quote-right{
	position: absolute;
	top: 1rem;
	right: 1.2rem;
}

#quote-box .fa-quote-left{
	position: absolute;
	bottom: 1rem;
	left: 1.2rem;
}

#quote-box #quote{
	position: absolute;
	font-size: 1rem;
	font-weight: bold;
	top: 50%;          /* Move the top edge to the middle of the container */
	left: 50%;         /* Move the left edge to the middle of the container */
	transform: translate(-50%, -50%); 
}

#quote-box #author{
	position: absolute;
	font-size: 0.8rem;
	font-weight: bold;
	bottom: 1rem;          /* Move the top edge to the middle of the container */
	right: 1.2rem;         /* Move the left edge to the middle of the container */
	transform: translate(-10%, -10%); 
}

#contact-box{
	grid-area: 1 / 3 / 2 / 9;
	padding: 2.6vh 3.6vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
}

#contact-box h4{
	font-size: 1.3rem;
}

#contact-box form button{
	background: #EEF0F4;
	padding: 8px 12px;
	border-radius: 8px;
	border: none;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4), 
	-4px -4px 15px rgba(255, 255, 255, 0.7); /* Neumorphism effect */	
	transition: box-shadow 0.6s ease-in-out; /* Smooth transition for shadow */
	color: #272727;
}
#contact-box form button:hover{
	box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3), inset -4px -4px 8px rgba(255, 255, 255, 0.7); /* Inset shadow on focus */
}

#contact-box form textarea{
	resize: none; /* Disable resizing */
	width: 100%;
	margin: 2vh 0;
	padding: 10px; /* Add some padding */
	font-size: 16px; /* Font size */
	outline: none; /* Remove outline on focus */
	background: #EEF0F4;
	border-radius: 12px;
	border: none;
	box-sizing: border-box;
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4), 
	-8px -8px 15px rgba(255, 255, 255, 0.7); /* Neumorphism effect */	
	transition: box-shadow 0.6s ease-in-out; /* Smooth transition for shadow */
}

#contact-box form textarea:focus{
	box-shadow: inset 6px 6px 8px rgba(0, 0, 0, 0.3), inset -4px -4px 8px rgba(255, 255, 255, 0.7); /* Inset shadow on focus */
}

footer{
	background-color: #3f3f84;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	padding: 20px 12px;
	min-height: 30vh;
}

footer h4{
	font-size: 1.8rem;
	font-family: sans-serif;
	text-align: center;
}

footer .social-boxes{
	display: flex;
	font-size: 1.7rem;
	max-width: 500px;
	justify-content: space-evenly;
}

.social-boxes a{
	background-color: #EBEBC9;
	display: flex; /* Use flex to center the icon */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	width: 40px; /* Set a fixed width */
	height: 40px; /* Set a fixed height */
	padding: 4px 10px; /* Add horizontal padding for responsiveness */
	text-decoration: none; /* Remove underline from links */
	border-radius: 7px; /* Optional: make the icons circular */
	transition: background-color 0.3s;
	color: #272727;
	margin: 0 3px;
}

footer p {
	text-align: center;
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {

	.project-info h4{
		font-size: 1rem;
	}

	#contact-box{
		grid-area: 1 / 4 / 2 / 9;

	}

	#quote-box{
		grid-area: 1 / 1 / 2 / 4;

	}

	#controls label {
		width: 26%!important;
	}

}

/* Slider Style */
#slider {
	margin: 0 auto;
	width: 800px;
	max-width: 100%;
	text-align: center;
	position: relative;
}

#slider input[type=radio] {
	display: none;
}

#slider label {
	cursor: pointer;
	text-decoration: none;
}

#slides {
	position: relative;
	z-index: 2;
}

#overflow {
	width: 100%;
	overflow: hidden;
}

#slide1:checked ~ #slides .inner {
	margin-left: 0;
}
#slide2:checked ~ #slides .inner {
	margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
	margin-left: -200%;
}

#slides .inner {
	-webkit-transform: translateZ(0);
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides .inner {
	width: 500%;
	height: 200px;
}

#slides .slide {
	position: relative;
	width: 20%;
	float: left;
	display: block;
	height: 100%;
	color: #FFFFFF;
}

#controls {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	pointer-events: none;
}

#controls label {
	transition: opacity 0.2s ease-out;  
	display: none;
	width: 32%;
	height: 85%;
	opacity: 0.4;
	pointer-events: auto;
	position: relative;
	z-index: 2;

}
#controls label:hover {
	opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4){
	cursor: url('./Assets/arrow-right.png'),auto;
	float: right;
	margin: 0 0 0 0;
	display: block;
}

#slide2:checked ~ #controls label:nth-child(1), 
#slide3:checked ~ #controls label:nth-child(2){
	cursor: url('./Assets/arrow-left.png'),auto;
	float: left;
	margin: 0 0 0 0;
	display: block;
}

#bullets {
	padding: 10px 0;
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
}

#bullets label {
	margin: 0 3px;
	border-radius: 2px;
	width: 12%;
	height: 4px;
	background: #bbb;
}

#slide1:checked ~ #bullets label:nth-child(1), 
#slide2:checked ~ #bullets label:nth-child(2), 
#slide3:checked ~ #bullets label:nth-child(3), 
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5) {
	background: #333;
}

.slide-content{
	height: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
	.section-grid{
		margin: 1.4vw 2.6vw;

	}

	#first-section{
		min-width: 0;
		grid-template-rows: repeat(6, 1fr);
	}

	#profile-box{
		grid-area: 1/1/5/7;
	}

	#profile-box h1{
		font-size: 2rem;
	}

	#profile-box h2{
		font-size: 1.2rem;
	}

	#social-box{
		grid-area: 5 / 5 / 7 / 7;
	}
	#social-box a i {
		font-size: 9vw;
	}

	#welcome-box{
		grid-area: 5 / 1 / 7 / 5;
		padding: 2vh 1vw;
	}

	#welcome-box .hello{
		max-height: 20vh;
	}
	.hello img{
		max-width: 6vw!important;
	}

	#welcome-box p{
		font-size: 0.9rem;
	}

	#second-section{
		grid-auto-columns: auto;
		grid-auto-rows: auto;
	}

	.achievements-box{
		grid-area: 1 / 5 / 4 / 8;
	}

	.achievements-box h4 {
		font-size: 4.3vw;
	}

	.achievements-box p {
		font-size: 2.9vw;
	}

	.results a {
		font-size: 3.3vw;
	}

	.skills-box{
		grid-area: 1 / 1 / 4/ 5;
		background-color: #1E1E2F;

	}

	.skills-box a i {
		font-size: 12.2vw;
	}

	.aboutme-box{
		grid-area: 4 / 1 / 7 / 8;
		background: #3f3f84;

	}

	.aboutme-box h3 {
		font-size: 9.8vw;
	}

	.projects-box{
		grid-area: 7 /1 / 9/ 8;
	}
	#bullets label {
		width: 10%;
	}
}


/* Small xl devices (tablet, 644px and down) */
@media only screen and (max-width: 644px) {
	#last-section{
		display: flex;
		flex-direction: column;

	}

	#quote-box{
		aspect-ratio: auto;
		min-height: 120px;
	}

	#quote-box #quote {
		width: 78%;
	}

}

/* Small devices (phones, 578px and down) */
@media only screen and (max-width: 578px) {
	#first-section{
		min-width: 0;
		grid-template-rows: repeat(8, 1fr);
	}

	#profile-box{
		grid-area: 1/1/7/7;
	}
	#profile-box img {
		height: 88%;
		left: 1vw;
	}

	#profile-box h1{
		font-size: 1.55rem;
	}

	#profile-box h2{
		font-size: 1.31rem;
		top: 38%;
	}

	#social-box{
		grid-area: 7 / 5 / 9 / 7;
		aspect-ratio: auto;
	}

	#welcome-box{
		grid-area: 7 / 1 / 9 / 5;
		padding: 2vh 1vw;
	}

	#welcome-box .hello{
		font-size: 1.4rem;
		max-height: 20vh;
	}
	.hello img{
		max-width: 6vw!important;
	}

	#welcome-box p{
		font-size: 0.9rem;
	}


}
